### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [11]:
#Some players may have bought multiple items, take this into account
total_players = len(purchase_data_df['SN'].value_counts())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(purchase_data_df['Item ID'].unique())
#unique_items

avg_price = purchase_data_df['Price'].mean()
#avg_price

num_purchases = purchase_data_df['Purchase ID'].count()
#num_purchases

total_rev = purchase_data_df['Price'].sum()
#total_rev

total_summary_df = pd.DataFrame({'Number of Unique Items': [unique_items],
                                'Average Price': [avg_price], 
                                'Number of Purchases': [num_purchases], 
                                'Total Revenue': [total_rev]})

total_summary_df['Average Price'] = total_summary_df['Average Price'].map("${:,.2f}".format)
total_summary_df['Total Revenue'] = total_summary_df['Total Revenue'].map("${:,.2f}".format)
total_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Bring in SN to easily ID duplicate rows, then get rid of duplicates, then get counts of each gender. 
gender_counts = purchase_data_df[['Gender', 'SN']].drop_duplicates()
gender_counts =  gender_counts['Gender'].value_counts()
#gender_counts_df = pd.DataFrame(gender_counts)

#Get percentage of each gender
gender_percents = (gender_counts / total_players) * 100

#Put together in one data frame, format to look cleaner
gender_demo_df = pd.DataFrame({'Total Count': gender_counts, 'Percentage of Players': gender_percents})
gender_demo_df['Percentage of Players'] = gender_demo_df['Percentage of Players'].map("{:,.2f}%".format)
gender_demo_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Group data by gender to get gender related data easier, could/should have done this for the demographics. Use count, sum, and mean.
gender_grouped = purchase_data_df.groupby(['Gender'])
purchase_count = gender_grouped['Purchase ID'].count()
total_purchase = gender_grouped['Price'].sum()
avg_purchase = gender_grouped['Price'].mean()

#Use gender_counts from Gender Demographics above
avg_per_person = total_purchase / gender_counts

#Put into summary data frame
gender_analysis_df = pd.DataFrame({'Purchase Count': purchase_count, 'Average Purchase Price': avg_purchase, 
                                  'Total Purchase Value': total_purchase, 'Avg Total Purchase Per Person': avg_per_person})

#Clean and format
gender_analysis_df['Average Purchase Price'] = gender_analysis_df['Average Purchase Price'].map("${:,.2f}".format)
gender_analysis_df['Total Purchase Value'] = gender_analysis_df['Total Purchase Value'].map("${:,.2f}".format)
gender_analysis_df['Avg Total Purchase Per Person'] = gender_analysis_df['Avg Total Purchase Per Person'].map("${:,.2f}".format)

gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
#Create bins and labels
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 200]
age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#get rid of players that are in the data more than once
age_data = purchase_data_df[['Age', 'SN']].drop_duplicates()

#put data into bins, get total for each group, then percentages
age_data['Age Group'] = pd.cut(age_data['Age'], age_bins, labels=age_labels)
age_group_total = age_data['Age Group'].value_counts()
age_group_percents = (age_group_total / total_players) * 100

#put data into dataframe
age_demo_df = pd.DataFrame({'Total Players': age_group_total, 'Percentage of Players': age_group_percents})

#format percentage column
age_demo_df['Percentage of Players'] = age_demo_df['Percentage of Players'].map("{:,.2f}%".format)

#sort from youngest age group to oldest, data originally showed most players to least
age_demo_df = age_demo_df.sort_index()

age_demo_df

       Total Players Percentage of Players
<10               17                 2.95%
10-14             22                 3.82%
15-19            107                18.58%
20-24            258                44.79%
25-29             77                13.37%
30-34             52                 9.03%
35-39             31                 5.38%
40+               12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
purchase_data_df['Age Group'] = pd.cut(age_data['Age'], age_bins, labels=age_labels)
grouped_age = purchase_data_df.groupby('Age Group')

age_pur_count = grouped_age['Purchase ID'].count()
age_avg_pur = grouped_age['Price'].mean()
age_total_pur = grouped_age['Price'].sum()
age_avg_per_person = age_total_pur / age_pur_count

age_analysis_df = pd.DataFrame({'Purchase Count': age_pur_count, 'Average Purchase Price': age_avg_pur, 
                                  'Total Purchase Value': age_total_pur, 'Avg Total Purchase Per Person': age_avg_per_person})
age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Group,,,,
<10,17,3.390000,57.63,3.390000
10-14,22,3.074545,67.64,3.074545
15-19,107,3.101682,331.88,3.101682
20-24,258,3.063527,790.39,3.063527
25-29,77,2.908182,223.93,2.908182
30-34,52,2.921538,151.92,2.921538
35-39,31,3.510000,108.81,3.510000
40+,12,3.037500,36.45,3.037500

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,NaN
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,NaN

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame